<a href="https://colab.research.google.com/github/dea43325108-crypto/JOBSHEET-ALGORITMA/blob/main/Jobsheet_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah #

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa #

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

# Praktikum 03 - Operasi pada Dictionary #

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa ["Umur"] = 20                 #Menambah data
mahasiswa ["Prodi"] = "Teknik Komputer" #Memperbarui data
del mahasiswa ["Umur"]                  #Menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 04 - Set dan Operasi Himpunan #

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah #

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata Kuliah Mhs1:", mhs1)
print("Mata Kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata Kuliah Mhs1: {'Algoritma', 'Matematika', 'Bahasa Inggris'}
Mata Kuliah Mhs2: {'Algoritma', 'Basis Data', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

# Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa #

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# Penugasan 3 - Tuple Sederhana #

In [1]:
data = ("Dea", 19, "TRK")
print("Nama:", data[0])
print("Umur:", data[1])
print("Prodi:", data[2])

Nama: Dea
Umur: 19
Prodi: TRK

# Penugasan 4 - Tuple Tidak bisa diubah #

In [2]:
my_tuple = (1, 2, 3)
print(f"Tuple awal: {my_tuple}")

try:
    my_tuple[1] = 5
except TypeError as e:
    print("\n--- Hasil Percobaan ---")
    print(f"ERROR: {e}")

Tuple awal: (1, 2, 3)

--- Hasil Percobaan ---
ERROR: 'tuple' object does not support item assignment

# Penugasan 5 - Dictionary Dasar #

In [5]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": "2021"
}

print("Judul: ", buku["Judul"])
print("Penulis: ", buku["Penulis"])
print("Tahun: ", buku["Tahun"])

Judul:  Algoritma
Penulis:  Munir
Tahun:  2021

# Penugasan 6 - Operasi Dictionary #

In [4]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40                          #Menambah data
dosen.update({"Prodi": "Teknik Komputer"})  #Memperbarui data
del dosen["Umur"]                           #Menghapus data

print("NIP: ", dosen["NIP"])
print("Nama: ", dosen["Nama"])
print("Prodi: ", dosen["Prodi"])

NIP:  12345
Nama:  Budi
Prodi:  Teknik Komputer

# Penugasan 7 - Set Himpunan #

In [6]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Bahasa Inggris', 'Matematika', 'Basis Data', 'Algoritma'}
Intersection: {'Algoritma', 'Matematika'}
Difference: {'Bahasa Inggris'}

# Penugasan 8 - Studi Kasus Dictionary #

In [7]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

# Penugasan 9 - Studi Kasus Set-Klub Mahasiswa #

In [8]:
A = {"Andi", "Budi", "Cici"}
B = {"Cici", "Deni", "Eka"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Deni', 'Andi', 'Budi', 'Eka', 'Cici'}
Intersection: {'Cici'}
Difference: {'Andi', 'Budi'}