<a href="https://colab.research.google.com/github/dea43325108-crypto/JOBSHEET-ALGORITMA/blob/main/Jobsheet_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Membuat dan Mengakses List 1D #

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])   #Andi
print(mahasiswa[1])   #Budi
print(mahasiswa[-1])  #Cici

Andi
Budi
Cici

# Praktikum 02 - Update dan Operasi Dasar List #

In [ ]:
nilai = [85, 90, 78]
nilai [1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

# Praktikum 03 - Slicing List #

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3]) #[85, 90, 78]
print(nilai[2:])  #[78, 92, 88]
print(nilai[:3])  #[85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

# Praktikum 04 - List 2D (Matriks) #

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0] [0]) # 1
print(matriks[1] [2]) # 6
print(matriks[2])     # [7, 8, 9]

1
6
[7, 8, 9]

# Praktikum 05 - Operasi pada List 2D #

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i] [j] + B[i] [j])
  C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

# Praktikum 06 - Studi Kasus: Pengolahan Nilai Mahasiswa #

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# Penugasan 3 - Akses Elemen List #

In [ ]:
mahasiswa = ["Prisma", "Arindiani", "Najwa", "Fifi", "Aurel"]
print(mahasiswa[0])   #Nama Pertama
print(mahasiswa[-1])  #Nama Terakhir
print(mahasiswa[1])   #Nama Indeks ke-2

Prisma
Aurel
Arindiani

# Penugasan 4 - Operasi Dasar List #

In [2]:
nilai = [70, 75, 80]
nilai [2] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[75, 85, 90]

# Penugasan 5 - Slicing List #

In [ ]:
nilai = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nilai[0:3])   #3 Elemen Pertama
print(nilai[-4:])   #4 Elemen Terakhir
print(nilai[1::2])  #Elemen dengan indeks genap

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]

# Penugasan 6 - List 2D-Matriks #

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
]

print(matriks[0] [1]) # Baris pertama kolom kedua
print(matriks[1] [2]) # Baris ketdua kolom ketiga
print(matriks[0])     # Seluruh baris pertama

2
6
[1, 2, 3]

# Penugasan 7 - Operasi Matriks 2D #

In [ ]:
matriks1 = [
    [1, 2],
    [3, 4]
]

matriks2 = [
    [5, 6],
    [7, 8]
]

hasil_matriks = [
    [0, 0],
    [0, 0]
]

for i in range(len(matriks1)):
    for j in range(len(matriks1[0])):
        hasil_matriks[i][j] = matriks1[i][j] + matriks2[i][j]

print("Matriks 1:")
for baris in matriks1:
    print(baris)

print("\nMatriks 2:")
for baris in matriks2:
    print(baris)

print("\nHasil Penjumlahan Matriks:")
for baris in hasil_matriks:
    print(baris)

Matriks 1:
[1, 2]
[3, 4]

Matriks 2:
[5, 6]
[7, 8]

Hasil Penjumlahan Matriks:
[6, 8]
[10, 12]

# Penugasan 8 - Rata-rata Nilai Mahasiswa #

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

# Penugasan 9 - Studi Kasus Data Toko #

In [3]:
stok = [["Buku", 20], ["Pulpen", 35], ["Penghapus", 15]]

for item in stok:
  nama_barang = item[0]
  jumlah_stok = item[1]
  print(f"Nama Barang: {nama_barang}, Stok: {jumlah_stok}")

stok_terbanyak = stok[0][1]
nama_barang_terbanyak = stok[0][0]

for item in stok[1:]:
    if item[1] > stok_terbanyak:
        stok_terbanyak = item[1]
        nama_barang_terbanyak = item[0]

print(f"Barang dengan stok terbanyak adalah: {nama_barang_terbanyak}")

Nama Barang: Buku, Stok: 20
Nama Barang: Pulpen, Stok: 35
Nama Barang: Penghapus, Stok: 15
Barang dengan stok terbanyak adalah: Pulpen