<a href="https://colab.research.google.com/github/dea43325108-crypto/JOBSHEET-ALGORITMA/blob/main/Jobsheet_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Perulangan For dengan Range #

In [3]:
for i in range (1, 5):
  print (i)

1
2
3
4

# Praktikum 02 - Perulangan While #

In [ ]:
n = int (input("Masukkan angka: "))
while n > 0:
  print (n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

# Praktikum 03 - Nested Loop (Segitiga Bintang) #

In [2]:
for i in range(1, 5):
  for j in range (i):
    print ("*", end="")
  print ()

*
**
***
****

# Praktikum 04 - Break #

In [6]:
# Break
for i in range(1, 10):
  print(i)
  if i == 5:
    print("Angka 5 ditemukan")
    break

1
2
3
4
5
Angka 5 ditemukan

In [7]:
# Continue
for i in range(1, 5):
  if i % 2 == 1:
    continue
  print (i)

2
4

# Praktikum 05 - For pada Dictionary #

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 06 - For dengan Enumerate #

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print (i, nama)

1 Andi
2 Budi
3 Cici

# Praktikum 07 - Studi Kasus: Program Kasir Multi-Item #

In [9]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break

  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

  print("\n===== Struk Belanja =====")
  print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2

===== Struk Belanja =====
Total Belanja : Rp 100000.0
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3

===== Struk Belanja =====
Total Belanja : Rp 115000.0
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

# Penugasan 3 - Menampilkan Deret Angka #

In [ ]:
for i in range(3, 30, 3):
  print(i)

3
6
9
12
15
18
21
24
27

# Penugasan 4 - Hitung Faktorial #

In [11]:
n = int(input("Masukkan bilangan: "))
faktorial = 1
i = 1

while i <= n:
  faktorial *=i
  i += 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan: 5
Faktorial dari 5 adalah 120

# Penugasan 5 - Pola Segitiga Terbalik #

In [15]:
tinggi = 5

for i in range(tinggi, 0, -1):
  for j in range (i):
    print ("*", end="")
  print ()

*****
****
***
**
*

# Penugasan 6 - Cari Bilangan Prima dengan Break #

In [3]:
bilangan = int(input("Masukkan sebuah bilangan: "))
is_prima = True

if bilangan > 1:
  for i in range(2, bilangan):
    if bilangan % i == 0:

      is_prima = False
      break
if is_prima:
  print(f"{bilangan} adalah bilangan prima")
else:
  print(f"{bilangan} bukan bilangan prima")

Masukkan sebuah bilangan: 10
10 bukan bilangan prima

# Penugasan 7 - Tampilkan Hanya Bilangan Genap dengan Continue #

In [20]:
for i in range(1, 21):
  if i % 2!= 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

# Penugasan 8 - Literasi Dictionary Mahasiswa #

In [21]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# Penugasan 9 - Enumerate Daftar Barang #

In [26]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

# Penugasan 10 - Studi Kasus Kasir Diskon #

In [1]:
total = 0
barang_list = []

while True:
  nama_barang = input("Masukkan nama barang: ")
  if nama_barang.lower() =="selesai":
    break

  harga = int(input("Masukan harga barang (Rp): "))
  jumlah = int(input("Masukkan jumlah barang: "))
  subtotal = harga * jumlah
  total += subtotal
  barang_list.append((nama_barang, harga, jumlah, subtotal))

print(" ===== Struk Belanja =====")
for barang, harga, jumlah, subtotal in barang_list:
  print(f"{barang} (x{jumlah}) - Rp{harga:,} = Rp{subtotal:,}")

print("-------------------------")
print(f"Total Belanja: Rp{total:,}")

if total >= 200000:
  diskon = total * 0.10
  total_setelah_diskon = total - diskon
  print(f"Diskon 10%: Rp{diskon:,}")
  print(f"Total Akhir: Rp{total_setelah_diskon:,}")
else:
  print("Diskon: Tidak ada")
  print(f"Total Akhir: Rp{total:,}")

Masukkan nama barang: Penggaris
Masukan harga barang (Rp): 3000
Masukkan jumlah barang: 2
Masukkan nama barang: tas
Masukan harga barang (Rp): 700000
Masukkan jumlah barang: 1
Masukkan nama barang: selesai
 ===== Struk Belanja =====
Penggaris (x2) - Rp3,000 = Rp6,000
tas (x1) - Rp700,000 = Rp700,000
-------------------------
Total Belanja: Rp706,000
Diskon 10%: Rp70,600.0
Total Akhir: Rp635,400.0