<a href="https://colab.research.google.com/github/dea43325108-crypto/JOBSHEET-ALGORITMA/blob/main/Jobsheet_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If Sederhana #

In [ ]:
nilai = int(input("Masukkan nilai ujian: "))
if nilai >= 60:
  print("Anda LULUS")

Masukkan nilai ujian: 70
Anda LULUS

# If Else #

In [ ]:
nilai = int(input("Masukkan nilai ujian: "))
if nilai >= 60:
  print ("Anda LULUS")
else:
  print("anda TIDAK LULUS")

Masukkan nilai ujian: 50
anda TIDAK LULUS

# If-Elif-Else #

In [ ]:
nilai = int(input("Masukkan nilai akhir: "))

if nilai >= 85:
  grade = "A"
elif nilai >= 70:
  grade = "B"
elif nilai >= 55:
  grade = "C"
elif nilai >= 40:
  grade = "D"
else:
  grade = "E"

print(f"Nilai Anda {nilai}, maka grade anda = {grade}")

Masukkan nilai akhir: 78
Nilai Anda 78, maka grade anda = B

# Nested-If #

In [ ]:
ipk = float(input("Masukkan IPK: "))
sks = int(input("Masukkan jumlah SKS: "))

if ipk >= 3.0:
  if sks >= 18:
    print("Anda LAYAK mendapat beasiswa")
  else:
    print("IPK memenuhi, tetapi SKS kurang")
else:
  print("Anda TIDAK LAYAK mendapatkan beasiswa")

Masukkan IPK: 2.8
Masukkan jumlah SKS: 20
Anda TIDAK LAYAK mendapatkan beasiswa

# Match-Case #

In [ ]:
menu=int(input("Pilih menu(1-3: )"))

match menu:
  case 1:
    print("Anda memilih nasi goreng")
  case 2:
    print("Anda memilih Mie Ayam")
  case 3:
    print("Anda memilih Soto Ayam")
  case _:
    print("Menu tidak tersedia")

Pilih menu(1-3: )9
Menu tidak tersedia

# Studi Kasus: Program Kasir #

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))
total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total-(total*diskon)

print("\n==== Struk Belanja ====")
print(f"Barang: {barang}")
print(f"Jumlah: {jumlah}")
print(f"Total: {total}")
print(f"Diskon: {diskon * 100}%")
print(f"Bayar: Rp {bayar}")

Masukkan nama barang: pilpen
Masukan harga barang: 5000
Masukkan jumlah barang: 10

==== Struk Belanja ====
Barang: pilpen
Jumlah: 10
Total: 50000.0
Diskon: 0%
Bayar: Rp 50000.0

# Cek Bilangan Positif/Negatif/Nol #

In [ ]:
nilai = int(input("Bilangan ini: "))

if nilai > 0:
  bilangan = "positif"
elif nilai < 0:
  bilangan = "negatif"
else:
  bilangan = 0

print(f"Maka termasuk bilangan: {bilangan}")

Bilangan ini: 20
Maka termasuk bilangan: positif

# Menentukan Kategori Usia #

In [ ]:
nilai = int(input("Usia: "))

if nilai >= 0 and nilai < 5:
  kategori = "balita"
elif nilai >= 5 and nilai <= 11:
  kategori = "anak-anak"
elif nilai >= 12 and nilai <= 17:
  kategori = "remaja"
elif nilai >= 18 and nilai <= 59:
  kategori = "dewasa"
else:
  kategori = "lansia"

print(f"Maka termasuk kategori: {kategori}")

Usia: 2
Maka termasuk kategori: balita

# Hitung Tarif Parkir #

In [ ]:
lama_parkir = int(input("Masukkan lama parkir (dalam jam): "))

if lama_parkir <= 2:
    tarif = 5000
elif lama_parkir > 2:
    tarif = 5000 + (lama_parkir - 2) * 2000
    if tarif > 20000:
        tarif = 20000
else:
    tarif = 0

print("Tarif parkir: Rp", tarif)

Masukkan lama parkir (dalam jam): 4
Tarif parkir: Rp 9000

# Cek Login Sederhana #

In [ ]:
username = input("Masukkan username: ")
password = input("Masukkan password: ")

if username == "admin" and password == "1234":
    print("Login berhasil")
else:
    print("Login gagal")

Masukkan username: dea
Masukkan password: 2345
Login gagal

# One-Linear-If #

In [ ]:
bil = int(input("Masukkan bilangan: "))
hasil = "Genap" if bil % 2 == 0 else "Ganjil"
print("Bilangan tersebut adalah", hasil)

Masukkan bilangan: 21
Bilangan tersebut adalah Ganjil

# Menu Restoran dengan Match-Case #

In [ ]:
menu=int(input("Pilih menu(1-3: )"))

match menu:
  case 1:
    print("Anda memilih nasi goreng")
  case 2:
    print("Anda memilih Mie Ayam")
  case 3:
    print("Anda memilih Soto Ayam")
  case _:
    print("Menu tidak tersedia")

Pilih menu(1-3: )4
Menu tidak tersedia

# Studi Kasus Nyata - Program Penentuan Diskon #

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))
total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total-(total*diskon)

print("\n==== Struk Belanja ====")
print(f"Barang: {barang}")
print(f"Jumlah: {jumlah}")
print(f"Total: {total}")
print(f"Diskon: {diskon * 100}%")
print(f"Bayar: Rp {bayar}")

Masukkan nama barang: kemeja
Masukan harga barang: 750000
Masukkan jumlah barang: 2

==== Struk Belanja ====
Barang: kemeja
Jumlah: 2
Total: 1500000.0
Diskon: 20.0%
Bayar: Rp 1200000.0