<a href="https://colab.research.google.com/github/dea43325108-crypto/JOBSHEET-ALGORITMA/blob/main/Jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengenalan Variabel dan Tipe Data #

In [3]:
# Integer
umur = 20
print ("Umur:", umur, ":->", type(umur))

# Float
tinggi = 170.5
print ("Tinggi:", tinggi, "->", type(tinggi))

# String
nama = "Dea"
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "->", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Dea", "umur": 20, "prodi": "TRK"}

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 20 :-> <class 'int'>
Tinggi: 170.5 -> <class 'float'>
Nama: Dea -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 85, 90] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Hobi: {'olahraga', 'musik', 'membaca'} -> <class 'set'>

# Input dan Output Dasar #

In [4]:
# Input string
nama = input("Masukkan nama anda: ")

# Input integer
umur = int(input("Masukkan umur anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama anda: dea
Masukkan umur anda: 19
Masukkan tinggi badan (cm): 155
Halo, dea umur anda: 19 tahun, tinggi: 155.0 cm
Halo dea, umur anda 19 tahun, tinggi 155.0 cm
Halo dea, umur anda 19 tahun, tinggi 155.0 cm

# Operator Aritmatika #

In [5]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

# Operator Relasional #

In [6]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

# Operator Logika dengan Studi Kasus Nyata #

In [9]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 90
Masukkan jumlah kehadiran: 20
Status: LULUS

# Program Kasir Sederhana #

In [19]:
barang = input("Masukkan nama barang:")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

  potongan = total * diskon
  bayar = total - potongan

  print("\n==== Struk Belanja ====")
  print(f"Barang : {barang}")
  print(f"Jumlah : {jumlah}")
  print(f"Total : Rp {total}")
  print(f"Diskon : {diskon * 100}%")
  print(f"Bayar : Rp {bayar}")

Masukkan nama barang:tas
Masukkan harga barang: 100000
Masukkan jumlah barang: 2

==== Struk Belanja ====
Barang : tas
Jumlah : 2
Total : Rp 200000.0
Diskon : 0%
Bayar : Rp 200000.0

# Identitas Mahasiswa #

In [22]:
nama = "Dea Cantika"
umur = 19
tinggi = 155.0
status_aktif = True

print("==== Identitas Mahasiswa ===")
print(f"Nama Mahasiswa: {nama}" )
print(f"Umur Mahasiswa: {umur}")
print(f"Tinggi Mahasiswa: {tinggi} cm")
print(f"Status Aktif: {status_aktif}")

==== Identitas Mahasiswa ===
Nama Mahasiswa: Dea Cantika
Umur Mahasiswa: 19
Tinggi Mahasiswa: 155.0 cm
Status Aktif: True

# Operasi Aritmatika #

In [32]:
a = int(input("Masukkan angka pertama: "))
b = int(input("Masukkan angka kedua: "))

print("a + b=", a + b)
print("a - b=", a - b)
print("a * b=", a * b)
print("a / b=", a / b)
print("a // b=", a // b)
print("a % b=", a % b)
print("a ** b=", a ** b)

Masukkan angka pertama: 8
Masukkan angka kedua: 4
a + b= 12
a - b= 4
a * b= 32
a / b= 2.0
a // b= 2
a % b= 0
a ** b= 4096

# Konversi Nilai #

In [34]:
angka = float(input("Masukkan bilangan desimal: "))

print("Bilangan bulatnya adalah: ", int(angka))
print("Bilangan dalam bentuk string:", str(angka))
print("Bilangan pembulatan dua digit dibelakang koma:", round(angka))

Masukkan bilangan desimal: 15.5
Bilangan bulatnya adalah:  15
Bilangan dalam bentuk string: 15.5
Bilangan pembulatan dua digit dibelakang koma: 16

# Operator Relasional #

In [26]:
m = float(input("Masukkan bilangan pertama:"))
n = float(input("Masukkan bilangan kedua: "))

sama_dengan = m == n
tidak_sama_dengan = m != n
lebih_kecil = m < n
lebih_besar = m > n
kecil_sama_dengan = m <= n
besar_sama_dengan = m >= n

print("Apakah bilangan pertama sama dengan bilangan kedua?", sama_dengan)
print("Apakah bilangan pertama tidak sama dengan?", tidak_sama_dengan)
print("Apakah bilangan pertama lebih kecil dari bilangan kedua?", lebih_kecil)
print("Apakah bilangan pertama lebih besat dari bilangan kedua?", lebih_besar)
print("Apakah bilangan pertama lebih kecil sama dengan bilangan kedua?", kecil_sama_dengan)
print("Apakah bilangan pertama lebih besar sama dengan bilangan kedua?", besar_sama_dengan)

Masukkan bilangan pertama:10
Masukkan bilangan kedua: 15
Apakah bilangan pertama sama dengan bilangan kedua? False
Apakah bilangan pertama tidak sama dengan? True
Apakah bilangan pertama lebih kecil dari bilangan kedua? True
Apakah bilangan pertama lebih besat dari bilangan kedua? False
Apakah bilangan pertama lebih kecil sama dengan bilangan kedua? True
Apakah bilangan pertama lebih besar sama dengan bilangan kedua? False